{{template "base" .}}

{{define "about"}} 
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

          <div class="section-title">
          <h2>About</h2>
          <p>Bilal Khan is a self-taught developer and mostly do programming in Golang. 
             He also runs a YouTube channel with more than hundred videos.
             The goal of his contribution is to help people learn valuable things and find the solutions to their problems. 
          </p>
          </div>

          <div class="row">
          <div class="col-lg-4">
              <img src="../static/img/profile.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content">
              <h3>YouTuber &amp; Golang Developer.</h3>
              <p class="fst-italic">
              I made a programming youtube channel in 2020 and I decided to make videos based on projects. 
              I chose Golang for my projects because it is simple and a compiled language and I enjoy it the most. 
              </p>
              <div class="row">
              <div class="col-lg-6">
                  <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>15 April 1999</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>https://ibilalkayy.herokuapp.com/</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>(+92)315 810 5028</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>State:</strong> <span>Balochistan</span></li>
                  </ul>
              </div>
              <div class="col-lg-6">
                  <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>22</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Associate</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>bilalkhanrecovered@gmail.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Country:</strong> <span>Pakistan</span></li>
                  </ul>
              </div>
              </div>
              <p>
                I can tell you from my personal experience that there's no pain than having an empty pipeline and no idea where your next problem is coming from -- which is why I created the YouTube channel to provide solutions.
                Looking at a lot of companies has made one thing clear -- they've great advertising stuff but generally terrible at consistently filling their pipeline with problem-solving methods.   
              </p>
          </div>
          </div>

      </div>
  </section><!-- End About Section -->  
{{end}}