{{template "base" .}}

{{define "navbar"}}
    <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>Bilal Khan</h1>
      <p>I'm <span class="typed" data-typed-items="Self-Taught Software Developer, YouTuber, Content Creator"></span></p>
      <div class="social-links">
        <a href="https://www.youtube.com/channel/UCBLTfRg0Rgm4FtXkvql7DRQ" class="youtube" target="_blank" rel="noopener noreferrer"><i class="bx bxl-youtube"></i></a>
        <a href="https://github.com/ibilalkayy" class="github" target="_blank" rel="noopener noreferrer"><i class="bx bxl-github"></i></a>
        <a href="https://www.linkedin.com/in/ibilalkayy/" class="linkedin"target="_blank" rel="noopener noreferrer"><i class="bx bxl-linkedin"></i></a>
        <a href="https://www.twitter.com/ibilalkayy/" class="twitter" target="_blank" rel="noopener noreferrer"><i class="bx bxl-twitter"></i></a>
      </div>
    </div>
  </section><!-- End Hero -->
{{end}}