{{template "base" .}}

{{define "portfolio"}}
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
        <div class="container" data-aos="fade-up">
    
            <div class="section-title">
            <h2>Portfolio</h2>
            <p>These are some of the projects that Bilal made. These project solve the real world problems. Most of the projects are created in Golang.
               You can go the GitHub site and find its source code by clicking on the project name.
            </p>
            </div>
    
            <div class="row">
            <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
                <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-app">App</li>
                <!-- <li data-filter=".filter-card">Card</li> -->
                <li data-filter=".filter-web">Web</li>
                </ul>
            </div>
            </div>
    
            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
                    
            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                <img src="../static//img/portfolio/covid.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <a href="https://github.com/ibilalkayy/covid-tracking-app" target="_blank" rel="noopener noreferrer"><h4>Covid Tracking App</h4></a>
                    <p>Web</p>
                    <div class="portfolio-links">
                    <a href="../static//img/portfolio/covid.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                    <!-- <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a> -->
                    </div>
                </div>
                </div>
            </div>
    
            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                <img src="../static//img/portfolio/authentication.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <a href="https://github.com/ibilalkayy/web-authentication-app" target="_blank" rel="noopener noreferrer"><h4>Web Authentication App</h4></a>
                    <p>Web</p>
                    <div class="portfolio-links">
                    <a href="../static//img/portfolio/authentication.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                    <!-- <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a> -->
                    </div>
                </div>
                </div>
            </div>
    
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                <img src="../static//img/portfolio/virtual.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <a href="https://github.com/ibilalkayy/Virtual-workspace" target="_blank" rel="noopener noreferrer"><h4>Virtual Workspace</h4></a>
                    <p>App</p>
                    <div class="portfolio-links">
                    <a href="../static//img/portfolio/virtual.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                    <!-- <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a> -->
                    </div>
                </div>
                </div>
            </div>
    
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                <img src="../static//img/portfolio/billing.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <a href="https://github.com/ibilalkayy/Customer-Billing-System" target="_blank" rel="noopener noreferrer"><h4>Customer Billing Software</h4></a>
                    <p>App</p>
                    <div class="portfolio-links">
                    <a href="../static//img/portfolio/billing.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                    <!-- <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a> -->
                    </div>
                </div>
                </div>
            </div>
    
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                <img src="../static//img/portfolio/monitoring.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <a href="https://github.com/ibilalkayy/Automatic-Backup-and-Monitoring-Software" target="_blank" rel="noopener noreferrer"><h4>Automatic Backup & Monitoring Software</h4></a>
                    <p>App</p>
                    <div class="portfolio-links">
                    <a href="../static/img/portfolio/monitoring.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                    <!-- <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a> -->
                    </div>
                </div>
                </div>
            </div>
    
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                <img src="../static/img/portfolio/bank.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <a href="https://github.com/ibilalkayy/Banking-Management-Software" target="_blank" rel="noopener noreferrer"><h4>Banking Management Software</h4></a>
                    <p>App</p>
                    <div class="portfolio-links">
                    <a href="../static/img/portfolio/bank.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                    <!-- <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a> -->
                    </div>
                </div>
                </div>
            </div>
                
            </div>
    
        </div>
    </section><!-- End Portfolio Section -->
{{end}}