{{template "base" .}}

{{define "resume"}}
    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Resume</h2>
            <p>Bilal is a coding mentor who runs his own YouTube channel and answers different questions related to programming on Stackoverflow. 
               He helps people to fill the pipeline with content by giving them access to problem-solving methods.
            </p>
          </div>
  
          <div class="row">
            <div class="col-lg-6">
              <h3 class="resume-title">Sumary</h3>
              <div class="resume-item pb-0">
                <h4>Bilal Khan</h4>
                <p><em>Innovative and deadline-driven Software Developer with 2+ years of experience developing softwares from initial concept to final, polished deliverable.</em></p>
                <ul>
                  <li>Balochistan, Pakistan</li>
                  <li>(+92)315 810-5028</li>
                  <li>bilalkhanrecovered@gmail.com</li>
                </ul>
              </div>
  
              <h3 class="resume-title">Education</h3>
              <div class="resume-item">
                <h4>Assocated of Computer Science</h4>
                <h5>2014 - 2017</h5>
                <p><em>Punjab Group of Colleges, Lahore, Pakistan</em></p>
                <p>Punjab Group of Colleges provide top quality education from Playgroup to Ph.D which allows a complete career path for every student. Along with imparting education at school and college levels.</p>
              </div>
            </div>
            <div class="col-lg-6">
              <h3 class="resume-title">Professional Experience</h3>
              <div class="resume-item">
                <h4>Content Creator on YouTube</h4>
                <h5>2020 - Present</h5>
                <p><em>Balochistan, Pakistan</em></p>
                <ul>
                  <li>Responsible for providing not just exercises but real projects so that viewers could easily get an idea that how things actually work.</li>
                  <li>Not focusing on theories explaining technology but making real projects, in which nobody invests their time</li>
                  <li>Trying to explain the basics in the projects so that the beginners could easily understand what is going on.</li>
                  <li>Created 100+ videos by dividing the projects into many videos for the clarification of the concepts.</li>
                </ul>
              </div>
              <div class="resume-item">
                <h4>Customer Service Representive</h4>
                <h5>Sep 2020 - Dec 2020</h5>
                <p><em>Rawalpindi, Punjab, Pakistan</em></p>
                <ul>
                  <li>Provided a service of selling insurance policies to people, and it helped him to get established. He has done his best to keep his clients satisfied.</li>
                  <li>There were different insurance policies like</li>
                  <li>Full/Half life insurance policy</li>
                  <li>Vehicle insureance policy</li>
                </ul>
              </div>
            </div>
          </div>
  
        </div>
    </section><!-- End Resume Section -->
{{end}}